doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ProductsManager
  body 
      h1 Ingrese Producto
  form(action='/productos' method='post')
    .form-floating.mb-3
      input#floatingInput.form-control(name='title' type='text' placeholder='firstname')
      label(for='floatingInput') Title
    .form-floating.mb-3
      input#floatingInput.form-control(name='price' type='text' placeholder='Lastname')
      label(for='floatingInput') Price
    .form-floating.mb-3
      input#floatingInput.form-control(name='file' type='file' placeholder='age')
      label(for='floatingInput') Image
    .col-mb-3
      br
      button.btn.btn-dark(type='submit') Enviar
  br
